@media (max-width: 768px){
  .signup-container{
    width: 100%;
    height: auto;
  }
  .signup-container > div{
    width: 100%;
    height: auto;
    float: none;
  }
  .signup-inner:nth-child(1){
    height: 200px;
    background-color:  #fff;
  }
  .circle-inner,
  .title{
    width: 140px;
    height: 140px;
  }
  .title{
    color: var(--main-color);
    font-size: 20px;
  }
  .circle{
    border: solid 0.5px var(--main-color);
  }
  /* From */
  .signup-inner:nth-child(2){
    padding: 20px;
  }
  form h1{ 
    text-align: center;
    font-size: 24px;
  }
}