/* Font Family */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'GmarketSansMedium';
  font-size: 14px;
  outline: none;
}
h1, h2{
  margin: 0;
}
h1{
  font-size: 24px;
}
h2{
  font-size: 18px;
}
button,
input{
  border: none;
}
select{
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
em{
  font-style: normal;
}
a{
  text-decoration: none;
  color: transparent;
}
ul{
  padding: 0;
  list-style: none;
}