/* Menu - Title */
.menu-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-title i,
.delect-button i{
  color: var(--main-color);
  font-size: 16px;
  position: relative;
}
.menu-title i:hover::after{
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--bg-gray-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
/* Menu - delect button */
.todo-content .content-menu{
  position: relative;
}
.delect-button{
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  transition: 0.35s;
}
.delect-button i{
  transform: translateY(2px);
}
.delect-button:hover{
  background-color: var(--main-color);
}
.delect-button:hover i{
  color: #fff;
}
/* Modal Todo Content */
.modal-todo-content{
  margin-top: 40px;
}
.todo-label{
  width: 600px;
}
.todolist{
  display: flex;
  justify-content: space-between;
}
.todolist > div{
  display: flex;
  align-items: center;
}
/* TodoList Check Box */
.todolist input[type="checkbox"]{
  display: none;
}
.todolist em{
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid 1px var(--light-gray);
  border-radius: 5px;
  margin : 0 10px;
  position: relative;
}
.todolist input[type="checkbox"].complete + em::before{
  content: '\F26E';
  font-family: 'bootstrap-icons';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: var(--crimson);
} 
/* TodoList Status */
.todolist span,
.todo-detail-status{
  text-transform: capitalize;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 12px;
}
/* Todo Delect */
.all-delet{
  font-size: 12px;
  background-color: var(--bg-gray-color);
  width: 60px;
  height: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.35s;
}
.all-delet:hover{
  color: var(--crimson);
  background-color: var(--bg-crimson);
}
.btn-delect{
  margin: 0 10px;
}
.todolist.bg:hover{
  background-color: var(--bg-gray-color);
  border-radius: 10px;
}
.todolist.bg:hover .btn-delect{
  color: var(--crimson);
}
/* TodoTask Status : Todo Content + Todo Write Component */
/* Ready : Mint */
.status-radios label:nth-of-type(1):hover,
#status-ready:checked + label,
.todo-label span.mint,
.todo-detail-status.mint{
  color: var(--mint-color);
  background-color: var(--bg-mint-color);
  border-color: transparent;
}
/* In Progress : Yellow */
.status-radios label:nth-of-type(2):hover,
#status-inprogress:checked + label,
.todo-label span.yellow,
.todo-detail-status.yellow{
  color: var(--yellow-color);
  background-color: var(--bg-yellow-color);
  border-color: transparent;
}
/* In Review : Purple */
.status-radios label:nth-of-type(3):hover,
#status-inreview:checked + label,
.todo-label span.purple,
.todo-detail-status.purple{
  color: var(--purple-color);
  background-color: var(--bg-purple-color);
  border-color: transparent;
}
/* Done : Gray */
.status-radios label:nth-of-type(4):hover,
#status-done:checked + label,
.todo-label span.gray,
.todo-detail-status.gray{
  color: var(--gray-color);
  background-color: var(--bg-gray-color);
  border-color: transparent;
}
/*  Todo Detail Component  */
.detail-inner.todo-detail h2{
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}
.todo-detail-content{
  background-color: var(--bg-gray-color);
  padding: 20px 10px 30px 10px;
  position: relative;
  border-radius: 5px;
}
.todo-detail-content em{
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  color: var(--gray-color);
}
.todo-detail-status{
  margin-top: 20px;
}